.AddItemForm {
  min-width: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;

  .item-form {
    margin-bottom: 1em;
  }

  .plus-btn {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 0;
    border: none;
    border-radius: 50%;
    padding: 0;
  }
}
